@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light !important;
}

@layer base {
  body {
    @apply border-border bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.number-pop {
  animation: number-pop 0.2s ease-out forwards;
}